<configuration>
  <system.webServer>
    <handlers>
      <remove name="Python34_via_FastCGI" />
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python35\python.exe|D:\home\site\wwwroot\ptvs_virtualenv_proxy.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
