<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% load custom_filters %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<h1>Blog Posts</h1>
<form method="get">
    <select name="author">
        <option value="">全ての投稿者</option>
        {% for author in authors %}
            <option value="{{ author.username }}" {% if request.GET.author == author.username %}selected{% endif %}>{{ author.username }}</option>
        {% endfor %}
    </select>
    <select name="category">
        <option value="">全てのカテゴリ</option>
        {% for category in categories %}
            <option value="{{ category.name }}" {% if request.GET.category == category.name %}selected{% endif %}>{{ category.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">絞り込み</button>
</form>
{% for post in posts %}
    <div class="post-summary">
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.content|remove_images|truncatechars:100|safe }}</p>
        <p>投稿者: {{ post.author.username }}</p>
        <p>カテゴリ: {{ post.category.name }}</p>
    </div>
{% endfor %}
{% endblock %}

